# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Temp files
temp/*
!temp/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

data.xlsx